certifi==2026.7.22
charset-normalizer==3.5.1
et_xmlfile==2.0.0
idna==3.19
numpy==2.5.2
openpyxl==3.1.5
pandas==3.0.5
PySide6==6.11.2
PySide6_Addons==6.11.2
PySide6_Essentials==6.11.2
python-dateutil==2.9.0.post0
requests==2.34.2
shiboken6==6.11.2
six==1.17.0
urllib3==2.7.0
